.Cuerpo-Alerta{
    width:100%;border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 30px;
}

.Cabecera-Alerta{
    width:100%;
    background-color: #2C3E50;
    padding:10px;
    text-align: center;
    color:#ffffff;
    font-size: 1.7rem;
}

.Informacion-Alerta{
    width:100%;
    background-color: #ffffff;
    padding:20px;
    font-size: 1.3rem;
    text-align: justify;
}